/* h1 {
  color: rgba(0.05, 0, 0.3, 1);
  background-color: #7700CC;
  border: 0.75vh dashed slategray;
}

p {
  color: red;
}

li {
  background-color: #7700cc;
  padding: 1vh;
} */

/* span {
  border: 1px solid blue;
  background-color: lime;
} */

/* .nav {
  position: absolute;
  bottom: 0;
}
.footer {
position: relative;
} */

.nav {
  position: relative;
  bottom: 0;
}
.footer {
position: absolute;
}