@font-face {
  font-family: "Softball";
  src:  local("softball-v1"),
        local("softball"),
        local("Softball-v1"),
        local("Softball"),
        url(/./softball-v1/softball.woff);
}
  
  h1 {
  color: rgba(0.05, 0, 0.3, 1);
  background-color: #7700CC;
  border: 0.75vh dashed slategray;
  font-family: "Softball", sans-serif;
}

p {
  color: red;
}

li {
  background-color: #7700cc;
  padding: 1vh;
}

/* span {
  border: 1px solid blue;
  background-color: lime;
}


.nav {
  position: relative;
  bottom: 0;
}
.footer {
position: absolute;
}
*/